.header-container{
    display: flex;
    flex-direction: column;
}

.header{
    background-color: #8aa942;
    padding: 15px 50px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: end;
    font-size: calc(10px + 2vmin);
    color: white;
}

.group-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.logo{
    width: 200px;
}

.logo img{
    width: 100%;
}

.menu-container{    
    width: 100%;
    padding: 0 50px;
}

.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub {
    color: red;
    background: #fff;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    background-color: #fff;
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item, .ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu {
    color: #696969;
}
















#components-layout-demo-fixed .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: #949494;
  }
  
  .ant-layout-header {
    background: #949494;
  }
  
  
  .site-layout .site-layout-background {
    background: #fff;
  }